<!DOCTYPE html>
<html>
<body>

<h1>Computer-Vision-Egg-Count-o-Matic 2300 Pro Edition Suite</h1>
<h2>Animal Log</h2>
<a href="home.html">
  Home
</a>
<a href="guide.html">
  Guide
</a><p></p>
<img>
<img src = "https://www.shutterstock.com/shutterstock/photos/1427383379/display_1500/stock-photo-photo-of-weird-looking-goat-1427383379.jpg"
width="200"
h="200">
<script>
  //for i in n lines of txt file, createElement with properties of that animal
  //pseudo for i in animalData.txt:
  //  extract animalname
  var animals = [];
  animals.push(document.createElement("div"));
  //newcontent = yadda, derived from text file
  animals[i].appendChild(newcontent)
</script>
<p>New animal button</p>





</body>
</html>
