* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

nav {
    position: fixed; /* Change from 'relative' to 'fixed' */
    top: 0; /* Align to the top of the viewport */
    height: 85px;
    background: #153a24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
    width: 100%; /* Ensure it spans the full width of the viewport */
    z-index: 1000; /* High z-index to keep it above other content */
}

.nav-bottom {
    position: fixed;
    bottom: 0;
    margin: 1.8rem;
    font-size: 1.2rem; 
    z-index: 1000;
}


nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 2px; 
    background-color: #ffcc00;
    transform: scaleX(0); 
    transition: transform 0.5s ease; 
}

nav a:hover::after {
    width: 100%; 
    transform: scaleX(1); 
}

/* Top and bottom bars */
#top-bar, #bottom-bar {
    background-color: #153a24;/* #329860; /* Dark grey background */
    color: white;         /* White text */
    text-align: center;
    padding: 40px 0;      /* Padding above and below the text */
    position: fixed;      /* Fixed at the top */
    width: 100%;          /* Full width */
    left: 0;              /* Align to the left of the page */
    z-index: 0;        /* Makes sure the bar is on top of other content */
}

#top-bar {
    top: 0; /* At the top of the nav */
}

#bottom-bar {
    bottom: 0; /* At the bottom of the nav */
}

.logo{
    color: #fff;
    font-size: 1.9rem;
    font-weight: bold;
    font-family: "Mystery Quest", cursive;
    padding: 0 2rem;
    z-index: 1;
}
nav .nav-items a {
    position: relative;
    font-size: 1.2rem; 
}

nav a{
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    z-index: 1;
}

.nav-bottom a{
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    z-index: 1;
}

.nav-bottom a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 2px; 
    background-color: #ffcc00;
    transform: scaleX(0); 
    transition: transform 0.5s ease; 
}

.nav-bottom a:hover::after {
    width: 100%; 
    transform: scaleX(1); 
}

body {
    background: #2f6947;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-text {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    width: 80%;
}

img {
    margin: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

body {
    padding-top: 100px;
    padding-bottom: 15vh;
}