/* Styles for the top bar */
#top-bar {
    background-color: #329860; /* Dark grey background */
    color: white;         /* White text */
    text-align: center;
    padding: 40px 0;      /* Padding above and below the text */
    position: fixed;      /* Fixed at the top */
    width: 100%;          /* Full width */
    top: 0;               /* Stick to the top of the page */
    left: 0;              /* Align to the left of the page */
    z-index: 1000;        /* Makes sure the bar is on top of other content */
}

/* Styles for the bottom bar */
#bottom-bar{
    background-color: #329860; /* Dark grey background */
    color: white;          /* White text */
    text-align: center;
    padding: 40px 0;       /* Padding above and below the text */
    position: fixed;       /* Fixed at the bottom */
    width: 100%;           /* Full width */
    bottom: 0;             /* Stick to the bottom of the page */
    left: 0;               /* Align to the left of the page */
    z-index: 1000;         /* Makes sure the bar is on top of other content */
}

/* Styles for the content area */
#content {
    padding: 80px 20px;  /* Padding around the content, more at the top and bottom */
    margin-top: 40px;    /* Margin at the top to not overlap with the top bar */
    margin-bottom: 40px; /* Margin at the bottom to not overlap with the bottom bar */
}

/* Add space to account for the fixed bars */
body {
    margin: 0;
    padding: 0;
    background-color: #a9e3c3; /* Light grey background */
}
