* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

nav {
    positive: relative;
    height: 85px;
    background: #153a24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
    z-index: 1000;
}

/* Top and bottom bars */
#top-bar, #bottom-bar {
    background-color: #329860; /* Dark grey background */
    color: white;         /* White text */
    text-align: center;
    padding: 40px 0;      /* Padding above and below the text */
    position: fixed;      /* Fixed at the top */
    width: 100%;          /* Full width */
    left: 0;              /* Align to the left of the page */
    z-index: 0;        /* Makes sure the bar is on top of other content */
}

#top-bar {
    top: 0; /* At the top of the nav */
}

#bottom-bar {
    bottom: 0; /* At the bottom of the nav */
}

.logo{
    color: #fff;
    font-size: 1.9rem;
    font-weight: bold;
    font-family: "Mystery Quest", cursive;
    padding: 0 2rem;
    z-index: 1;
}
nav .nav-items a {
    position: relative;
    font-size: 1.2rem; 
}

nav a{
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    z-index: 1;
}

.hero{
    background: #153a24;;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px)/2);
    z-index: 1;
}

.column-left {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

button {
    padding: 1rem 2rem; /* Adjust padding as needed */
    font-size: 1rem;
    border: none;
    color: #fff; /* Text color */
    background-color: #ffcc00; /* Yellow background color */
    border-radius: 20px; /* Rounds the corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    z-index: 1;
}

button:hover {
    background-color: #ffdb4d; /* Lighter yellow on hover */
}


.column-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.hero-image{
    width:125%;
    height: 90%;
}

.mystery-quest-regular {
  font-family: "Mystery Quest", system-ui;
  font-weight: 400;
  font-style: normal;
}

html, body {
    overflow: hidden; /* Prevents scrolling in both directions */
    height: 100%; /* Limits the height to the viewport */
}




@media screen and (max-width: 925px) {
    .hero-container{
        grid-template-columns: 1fr;
    }
}

